*{ 
    margin:0;    
    padding:0;    
    box-sizing:border-box; 
} 
html
{    
    scroll-behavior: smooth; 
} 
body{
    background-color:#f8f5f2; 
}
nav{ 
    position:sticky;   
    top:0;     
    z-index:1000;     
    background-color:#390d05;     
    padding:20px;     
    text-align:center; 
} 

nav a{     
    color:white;     
    text-decoration:none;     
    margin:0 20px;     
    font-size:18px;     
    font-weight:bold; 
} 
nav a:hover{     
    color:#d7ccc8; 
} 
.welcome-banner{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:30px;
    background-color:#1f0e02;
    padding:40px;
    color:white;
}
.logo{

    width:130px;

    height:130px;

    object-fit:contain;

}
.welcome-text { 
    background-image:url("../images/Copilot_20260613_221736.png");     
    background-repeat:no-repeat;     
    background-size:cover;     
    width: 100%;     
    min-height: 65vh; 
    text-align: center; 
    flex-direction: column;    
    justify-content: center;     
    background-color: rgba(0,0,0,0.75); 
} 
.overlay{

    width:100%;
    min-height:70vh;
    background-color:rgba(0,0,0,.75);
    color:white;
    padding:60px 30px;
    text-align:center;

}
.overlay p{     
    color: white;     
    font-size:20px;     
    line-height:1.8;     
    max-width:900px;     
    margin:auto;     
    padding-top: 40px; 
} 
.overlay h2{

    font-family:"Monotype Corsiva";

    font-size:52px;

    margin-bottom:25px;

}
.menu-btn{     
    display:inline-block;     
    margin-top:40px; 
    padding:15px 30px;
    background-color:#8b5a2b;   
    color:white; 
    text-decoration:none;     
    border-radius:8px; 
    font-size:22px; 
} 
.menu-btn:hover{     
    background-color:#6f4e37; 
} 
.gallery-section{     
    padding: 80px 50px;     
    text-align: center;     
    background-color: #241405; 
} 
.gallery-section h2{     
    font-size: 40px;     
    margin-bottom: 30px;     
    color: #eae8dd;     
    font-family: "Monotype Corsiva"; 
} 

/* Scrollable Gallery */ 
.slider{

    width:90%;

    max-width:1000px;

    height:320px;

    margin:40px auto;

    overflow:hidden;

    border-radius:15px;

} 

.slides{     
    display:flex; 
    width:400%;     
    height:100%;     
    transition:transform 1s ease-in-out; 
} 
.slides img{

    width:25%;

    height:320px;

    object-fit:cover;

}

/* ========================= FOOTER 
========================= */ 
footer{ 
    background-color:#3e2723; 
    color:rgb(255, 255, 255); 
    text-align:center; 
    padding:30px; 
} 

footer p{     
    margin-bottom:15px; 
} 
.social-links a{     
    color:white; 
    text-decoration:none; 
    margin:0 15px; 
    font-size:18px; 
} 

.social-links a:hover{    
    color:#d7ccc8; 
} 
